{% extends 'base.html.twig' %}

{% block title %}Weather records{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/weather_record_list.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/weather_record_list.js') }}"></script>
{% endblock %}

{% block body %}
    <ul>
        {% for item in items %}
            <li>
                <h3>{{ item.date }}</h3>
                <p>Temperature: {{ item.temperature }}</p>
                <p>Chance for rain: {{ item.chance_for_rain }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}